/*
    author: andres@skyyym.com
    date: december 2018
*/

/* fonts
---------------------------------------------------------------------------*/

@font-face {
    font-family: 'Proxima';
    src: url('fonts/proxima/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proxima/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Kiro';
    src: url('kiro_extra_light-webfont.woff2') format('woff2'),
         url('kiro_extra_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}


/* normalize
---------------------------------------------------------------------------*/





h1 {
    margin: 0.67em 0;
}

a {
    background-color: transparent;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

/* basic styles
---------------------------------------------------------------------------*/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #121217;
}


/* main
---------------------------------------------------------------------------*/

main {
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 50px;
}

/* navigation
---------------------------------------------------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
}

#nav-logo {
    max-width: 365px;
    display: block;
}

#nav-logo > svg {
    max-width: 108px;
}

.logo-fill {
    fill: #ffffff;
}

#nav-links a:last-of-type {
    margin-right: 0;
}

.nav-links-style {
    max-width: 200px;
    display: block;
    float: left;
    margin-right: 50px;
    text-decoration: none;
    position: relative;
    padding-top: 20px;
}

.nav-links-style::before {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
    opacity: .2;
    transition: opacity 0.9s cubic-bezier(0.24, 0.015, 0.145, 0.93);
}

.nav-label {
    color: #ffffff;
    font: 12px "Proxima", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.nav-caption {
    color: #4a4a50;
    font: 12px "Montserrat", Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 10px;
}

.nav-number {
    color: #4a4a50;
    font: 12px "Montserrat", Arial, Helvetica, sans-serif;
}