/*
    Andres Guzman
    June, 2021
*/


/* ==========================================================================
   Fonts
   ========================================================================== */




@font-face {
    font-family: 'Founders Semibold';
    src: url('../fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
        url('../fonts/FoundersGrotesk-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../fonts/MonumentGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/MonumentGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* ==========================================================================
   Custom properties
   ========================================================================== */


:root {
    font-size: 19px;

}


::-moz-selection {
    background: var(--color__red);
    color: var(--color__bright);
    text-shadow:none
}

::selection {
    background: var(--color__red);
    color: var(--color__bright);
    text-shadow:none
}


/* ==========================================================================
   Animations
   ========================================================================== */






/* ==========================================================================
   Base styles
   ========================================================================== */


html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgba(11, 11, 15, 1);
    margin: 0;
}



a {
    background-color: transparent;
}

p, 
h1, 
h2,
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}




/* ==========================================================================
   Navigation
   ========================================================================== */






/* ==========================================================================
   Footer / social media links
   ========================================================================== */





/* ==========================================================================
   Main
   ========================================================================== */





/* ==========================================================================
   Section welcome
   ========================================================================== */




/* ==========================================================================
   Section works
   ========================================================================== */





/* ==========================================================================
   Section archive
   ========================================================================== */






/* ==========================================================================
   Section about
   ========================================================================== */







/* ==========================================================================
   Section contact
   ========================================================================== */




/* ==========================================================================
   Media queries
   ========================================================================== */


