/*
    Andres Guzman
    June, 2021
*/


/* ==========================================================================
   Fonts
   ========================================================================== */



@font-face {
    font-family: "Founders Light";
    src: url('../fonts/FoundersGrotesk-Light.woff2') format('woff2'),
         url('../fonts/FoundersGrotesk-Light.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Founders Semibold";
    src: url('../fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
         url('../fonts/FoundersGrotesk-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tungsten Condensed';
    src: url('../fonts/TungstenCondensed-Medium.woff2') format('woff2'),
        url('../fonts/TungstenCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



/* ==========================================================================
   Custom properties
   ========================================================================== */


:root {
    font-size: 16px;
    --font__spacing: 1px;
    --font__small: 0.875rem/17px;
    --font__medium: clamp(3rem, 13vw, 17rem);
    --font__huge: clamp(5rem, 42vw, 50rem);

    --ffamily__light: "Founders Light", Arial, Helvetica, sans-serif;
    --ffamily__bold: "Founders Semibold", Arial, Helvetica, sans-serif;
    --ffamily__huge: "Tungsten Condensed", Georgia, serif;

    --color__bright: rgba(176, 186, 175, 1);
    --color__half: rgba(176, 186, 175, 0.5);
    /* --color__accent: rgba(255, 8, 65, 1); */

    --margin__small: 5px;
    --margin__medium: 30px;
    --margin__big: 15vh;

    --transition__fast: all 0.3s cubic-bezier(.25, .46, .45, .94) 0s;
    --transition__medium: all 0.6s cubic-bezier(.25, .46, .45, .94) 0s;
}

::selection {
    background: var(--color__bright);
    color: rgba(22, 22, 22, 1);
    text-shadow: none;
}


/* ==========================================================================
   Animations
   ========================================================================== */


/* @keyframes worksBackground {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
} */

@keyframes introFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes introLeft {
    0% {
        transform: translateX(3vw);
    }

    100% {
        transform: translateX(0);
    }
}

/* ==========================================================================
   Base styles
   ========================================================================== */


html {
    height: 100%;
}

body {
    height: 100%;
    background-color:  rgba(22, 22, 22, 1);
    /* border: 5px solid var(--color__bright); */
    box-sizing: border-box;
    margin: 0;
    opacity: 0;
    animation-name: introFade;
    animation-duration: 1.25s;
    animation-delay: 0.7s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.22, .61, .36, 1);
}

/* body intro fade-in */

/* .index {
    opacity: 0;
    animation-name: introFade;
    animation-duration: 1.25s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.22, .61, .36, 1);
} */

a {
    background-color: transparent;
}

h1 {
    color: var(--color__bright);
    font: var(--font__huge) var(--ffamily__huge);
    line-height: 0.75;
    text-transform: uppercase;
    transition: var(--transition__medium);
    margin: 0;
}

h2 {
    color: var(--color__bright);
    font: var(--font__medium) var(--ffamily__huge);
    line-height: 0.75;
    text-transform: uppercase;
    margin: 0 0 var(--margin__medium) 0;
    transition: var(--transition__medium);
}

h3 {
    color: var(--color__bright);
    font: 1rem/1 var(--ffamily__bold);
    text-transform: uppercase;
    margin: 0 0 var(--margin__medium) 0;
}

h4 {
    color: var(--color__bright);
    font: clamp(4rem, 6vw, 6rem) var(--ffamily__huge);
    line-height: 0.75;
    margin: 0 0 var(--margin__medium) 0;
    transition: var(--transition__medium);
}

p {
    color: var(--color__bright);
    font: var(--font__small) var(--ffamily__light);
    text-transform: uppercase;
    letter-spacing: var(--font__spacing);
    margin: 0;
}

a {
    text-decoration: none;
}

p a {
    color: var(--color__bright);
    transition: var(--transition__fast);
}

p a:hover {
    color: var(--color__half);
}

ul li {
    list-style-type: none;
}



/* ==========================================================================
   Navigation
   ========================================================================== */


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 45px 0 45px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    mix-blend-mode: difference;
    z-index: 10;
    transition: var(--transition__medium);
}

#nav--logo {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--color__bright);
    transition: var(--transition__fast);
    
}

#nav--logo:hover {
    color: var(--color__half);    
}

#nav--logo:hover #nav--logo__icon {
    fill: var(--color__half);
}

#nav--logo__icon {
    fill: var(--color__bright);
    width: auto;
    height: 37px;
    margin-right: 20px;
    transition: var(--transition__fast);
}


.nav--logo__skyyym {
    font: 17px var(--ffamily__bold);
    letter-spacing: 4px;
    text-transform: uppercase;
}

.nav--logo__caption {
    font: 11px var(--ffamily__light);
    letter-spacing: 1px;
    text-transform: uppercase;
}

#nav--links {
    display: flex;
    margin: 0;
    padding: 0;
}

#nav--links li {
    display: inherit;
    margin-right: 35px;
}

#nav--links li:last-of-type {
    margin-right: 0;
}

#nav--links li a {
    color: var(--color__bright);
    font: var(--font__small) var(--ffamily__bold);
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transition__fast);
}

#nav--links li a:hover {
    color: var(--color__half);
}


/* ==========================================================================
   Footer / social media links
   ========================================================================== */


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 45px 45px 45px;
    text-transform: uppercase;
    mix-blend-mode: difference;
    z-index: 10;
}

footer > div {
    color: var(--color__bright);
    font: var(--font__small) var(--ffamily__bold);
    align-self: flex-end;
}

#nav--social {
    display: flex;
    margin: 0;
    padding: 0;
}

#nav--social li {
    margin-right: 35px;
}

#nav--social li:last-of-type {
    margin-right: 0;
}

#nav--social li a {
    color: var(--color__bright);
    font: var(--font__small) var(--ffamily__light);
    text-decoration: none;
    transition: var(--transition__fast);
}

#nav--social li a:hover {
    color: var(--color__half);
}



/* ==========================================================================
   Main
   ========================================================================== */


#outer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.scrollbar-track {
    display: none !important;
}


/* ==========================================================================
   Section welcome
   ========================================================================== */


#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 45px;
    margin-bottom: var(--margin__big);
}

#welcome > h1 {
    transform: translateX(3vw);
    margin-right: -20px;
    position: relative;
    animation-name: introLeft;
    animation-duration: 1.25s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.22, .61, .36, 1);
}



/* ==========================================================================
   Section works
   ========================================================================== */


/* #works {
    margin-bottom: var(--margin__big);
} */

.works--link {
    display: block;
    width: max-content;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 75px;
    text-align: center;
}


/* .works--link::before {
    opacity: 0;
    content: '';
    position: absolute;
    overflow: hidden;
    left: -100vw;
    top: -100vh;
    width: calc(100% + 100vw);
    height: calc(100% + 100vh);    
    background-size: 100vw auto;
    animation-name: worksBackground;
    animation-duration: 66s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: -1;
    filter: grayscale(1);
    transition: var(--transition__medium);
}

.works--link:hover::before {
    opacity: 0.25;
} */

/* indivicual colors for each h2 */


.works--link[href*="badtrash.com"]:hover > h2 {
    color: #9a44fc;
}

.works--link[href*="plotterprint.com.bo"]:hover > h2 {
    color: #45ffd1;
}

.works--link[href*="trash.ink"]:hover > h2 {
    color: #ff1f84;
}

.works--link[href*="minivaxx.com"]:hover > h2 {
    color: #d2f33e;
}

.works--link[href*="androgenlab.com"]:hover > h2 {
    color: #5f19ff;
}

.works--link[href*="simpshots.com"]:hover > h2 {
    color: #02ff94;
}


/* individual ::before psuedo elemetns */


/* .works--link[href*="badtrash.com"]::before {
    background-image: url(../_assets/shot_badtrash.jpg);
}

.works--link[href*="plotterprint.com.bo"]::before {
    background-image: url(../_assets/shot_plotter.jpg);
}

.works--link[href*="trash.ink"]::before {
    background-image: url(../_assets/shot_trash.jpg);
}

.works--link[href*="minivaxx.com"]::before {
    background-image: url(../_assets/shot_minivaxx.jpg);
}

.works--link[href*="androgenlab.com"]::before {
    background-image: url(../_assets/shot_androgen.jpg);
}

.works--link[href*="simpshots.com"]::before {
    background-image: url(../_assets/shot_simpshots.jpg);
} */


/* individual ends here */


.works--history {
    max-width: 480px;
    text-align: center;
    margin: 0 auto;
}

.works--link .works--history h3 {
    padding-top: 10px;
}

.works--link .works--history p {
    transition: var(--transition__medium);
}

.works--link:hover .works--history p {
    color: var(--color__bright);
}



/* ==========================================================================
   Section archive
   ========================================================================== */


#archive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 45px;
    text-align: center;
}

.archive--wrapper > p {
    max-width: 480px;
    margin: 0 auto;
}

.archive--gallery {
    /* --n: 5;  the max number of columns */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
    margin: 0 auto var(--margin__medium) auto;

}

.archive--gallery__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(176, 186, 175, 0.075);
    box-sizing: border-box;
    text-decoration: none;
    padding: 50px;
    transition: var(--transition__medium);
    overflow: hidden;
    /* min-height: 454px; */
    aspect-ratio: 2/3.25;
    border-radius: 4px;
}

.archive--gallery__window:hover {
    background-color: rgba(18, 18, 22, 0);
}

.archive--gallery__window:hover img {
    opacity: 0.3;
}

.archive--gallery__window:hover p {
    color: var(--color__bright);
}

.archive--gallery__window p {
    transition: var(--transition__medium);
}

.archive--gallery__window img {
    opacity: 0;
    position: absolute;
    width: auto;
    height: 100%;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* filter: grayscale(1); */
    transition: var(--transition__medium);
    z-index: -1;
}




/* ==========================================================================
   Section about
   ========================================================================== */


#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    padding: 0 45px;
}

#about > h1 {
    margin-left: -10px;
}

.about--description {
    max-width: 430px;
    margin: 0 auto;
    padding: 3vw;
    box-sizing: border-box;
    transition: var(--transition__medium);
}

.about--description h3 {
    margin-bottom: var(--margin__small);
}

.about--description p {
    margin-bottom: var(--margin__medium);
}

.about--description p:last-of-type {
    margin-bottom: 0;
}


/* ==========================================================================
   Section archive viewer
   ========================================================================== */


.index--viewer {
    opacity: 0;
    animation-name: introFade;
    animation-duration: 1.25s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.22, .61, .36, 1);
}

.index--viewer > h2 {
    position: fixed;
    max-width: 505px;
    top: 41px;
    left: 43px;
    margin-bottom: 0;
    z-index: 10;
}

#archive--viewer {
    position: relative;
    padding: 50px;
    margin-right: 90px;
    margin-left: 550px;
    box-sizing: border-box;
    text-align: center;
}

#archive--viewer > img {
    max-width: 100%;
}

a:visited {
    color: #161616;
}

#archive--close {
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 10;
}

#archive--close > svg {
    width: 50px;
    height: auto;
}

.archive--close__fill {
    fill: #161616;
    transition: var(--transition__fast);
}

#archive--close:hover .archive--close__fill {
    fill: var(--color__bright);
}

.archive--close__stroke {
    stroke: var(--color__bright);
    transition: var(--transition__fast);
}

#archive--close:hover .archive--close__stroke {
    stroke: #161616;
}



/* ==========================================================================
   Media queries
   ========================================================================== */


@media all and (max-width: 1100px) {
    #about {
        flex-direction: column;
        padding: 25px;
    }

    #about > h1 {
        display: none;
    }

    .about--description {
        width: auto;
        margin: unset;
        padding: unset;
    }

    .index--viewer > h2 {
        top: 25px;
        left: 25px;
    }

    .archive--close {
        top: 20px;
        right: 20px;
    }

    #archive--viewer {
        padding: 125px 25px 25px 25px;
        margin-left: 0;
        margin-right: 0;
    }
}


@media all and (max-width: 590px) {
    nav {
        flex-direction: column;
        padding: 25px 25px 0 25px;
    }

    #nav--logo {
        display: none;
    }

    #nav--links {
        justify-content: space-between;
    }

    #nav--links li {
        margin: 0;
    }

    footer {
        padding: 0 25px 25px 25px;
    }

    footer > div {
        display: none;
    }

    #nav--social {
        flex-direction: column;
    }

    #nav--social li {
        margin: 0;
    }

    #welcome {
        text-align: center;
        margin-bottom: 0;
    }

    #welcome > h1 {
        margin: 0;
    }

    #works {
        margin-bottom: var(--margin__big);
    }

    .works--link {
        padding: 25px;
        width: auto;
    }

    .works--history {
        display: none;
    }

    #archive {
        height: auto;
        padding: 0 25px;
    }

    .archive--gallery__window {
        padding: 25px;
        aspect-ratio: 1;
    }

    #about {
        flex-direction: column;
    }

    .archive--close {
        position:relative;
        top: unset;
        right: unset;
    }

    .index--viewer > h2 {
        position: relative;
        text-align: center;
        top: unset;
        left: unset;
        max-width: unset;
    }

    #archive--viewer {
        padding-top: 150px;
    }
}